<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/public/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Railway Commodity System</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h2 class="Home">
          <a href="/">RailGoods</a> 
        </h2>
        <div class="buttons">
          <!-- <a href="#">Check PNR Status</a> -->
          <%if(!loggedInUser){ %>
          <a href="/login">Login</a>
          <button class="buttons"><a href="/signup">SignUp</a></button>
          <% }%>
          <% if(loggedInUser){%>
          <button class="buttons"> <a href="/profile"><%= loggedInUser.username %>'s Profile</a></button>
          <a href="/logout">Logout</a>
          <% }%>
        </div>
      </div>
      <div class="content">
        Manage your <strong>commodities</strong> efficiently
      </div>

      <div class="search-form">
        <h2>BOOK TRAIN</h2>
        <form action="/search" method="POST">
          <div class="row">
            <div class="col">
              <label for="source">From</label>
              <select name="sourcestation" id="source" required>
                <option value="NDLH">NDLH</option>
                <option value="CDG">CDG</option>
                <option value="UMB">UMB</option>
              </select>
            </div>
            <div class="col">
              <label for="destination">To</label>
              <select name="destinationstation" id="destination" required>
                <option value="LKO">LKO</option>
                <option value="BSR">BSR</option>
                <option value="GHY">GHY</option>
                <option value="SBC">SBC</option>
              </select>
            </div>
          </div>
          <div class="col">
            <label for="date">Date</label>
            <input class = "indexInput" type="date" id="traveldate" name="traveldate" required>
        </div>
          <div class="col">
            <label for="source">Type of train</label>
            <select name="type" id="type" required>
              <option value="type1">Normal</option>
              <option value="type2">Express</option>
            </select>
            <button >Look For Trains</button>
          </div>
        </form>
      </div>
    </div>

    <div class="about">
        <h2>About Us</h2>
        <p>We at RailsGoods provide the best platform for booking trains and managing your commodities efficiently</p>
        <button><a href="https://github.com/shashanksh2000/Railway-Commodity">CONTACT US</a></button>
    </div>
    <script src="index.js"></script>
  </body>
</html>
