.search-bar{
    min-width: 200px;
    width: 80%;
    margin: 20px auto;
    color: white;
    background: rgba(255, 255, 255, 0.11);
    padding: 30px ;
    text-align: center;
    backdrop-filter: blur(10px);
    justify-content: space-around;
}

.search-bar .row {
    align-items: center;
}

.search-bar .row .col {
    width: 30%
}

.date {
    padding: 0;
}

.all_trains{
    width: 80%;
    margin: 20px auto;
    color: white;
    background: rgba(255, 255, 255, 0.11);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.row {
    width: 100%;
}

h2 {
    color: white;
    text-align: center;
}

hr {
    margin: 10px 0;
}